<div class="container-sm">
  <br />

  <h1>SignIn</h1>
  <br />
  <form [formGroup]="form" (ngSubmit)="submit()" id="form">
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        placeholder="35"
        aria-describedby="emailHelp"
        placeholder="Email Address"
        [class.is-invalid]="f['email'].touched && f['email'].invalid"
        formControlName="email"
        required
      />
      <label for="email">Email Address</label>
      <div
        *ngIf="f['email'].touched && f['email'].invalid"
        class="text-danger text-sm-start"
      >
        <small *ngIf="f['email'].errors && f['email'].errors['required']"
          >Email is required.</small
        >
        <small *ngIf="f['email'].errors && f['email'].errors['email']"
          >Email is not valid</small
        >
      </div>
    </div>
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        placeholder="35"
        aria-describedby="passwordHelp"
        [class.is-invalid]="f['password'].touched && f['password'].invalid"
        formControlName="password"
        required
      />
      <label for="Password">Password</label>
      <div
        *ngIf="f['password'].touched && f['password'].invalid"
        class="text-danger text-sm-start"
      >
        <small *ngIf="f['password'].errors && f['password'].errors['required']"
          >Password is required.</small
        >
        <small
          *ngIf="f['password'].errors && f['password'].errors?.['minlength']"
          >Password must be at least 8 chars long</small
        >
      </div>
    </div>
    <button type="submit" form="form" class="btn btn-primary mt-1">
      Login
    </button>
  </form>
  <br />
</div>
